# database and migrations
db.sqlite3
*/migrations/

# Python cache files
__pycache__/
*.py[cod]
*.pyo
*.pyc

# Bytecode and compiled files
*.so
*.egg-info/
*.egg

# Virtual environments
env/
venv/
.venv/

# OS-specific files
*.DS_Store
Thumbs.db

# dotenv and secrets
.env
*.pdf
*.docx
documents/